{% extends "base.html" %}
{% block content %}

<section class="hod-profile-page fade-in-up">

    <div class="hod-profile-card">

        <img src="{{ url_for('static', filename=hod.photo) }}"
             class="hod-profile-img">

        <div class="hod-profile-info">

            <h1>{{ hod.name }}</h1>
            <h3 class="hod-role">{{ hod.role }}</h3>
            <p class="hod-department">{{ hod.department }}</p>

            <p class="hod-bio">
                {{ hod.bio }}
            </p>

        </div>

    </div>

</section>

{% endblock %}
