{% extends "base.html" %}
{% block content %}

<div class="admin-form container">

    <h2>{{ 'Add New HOD Profile' if mode=='new' else 'Edit HOD Profile' }}</h2>

    <form method="POST" enctype="multipart/form-data">

        <label>Name</label>
        <input type="text" name="name" value="{{ hod.name if hod else '' }}" required>

        <label>Role</label>
        <input type="text" name="role" value="{{ hod.role if hod else '' }}" required>

        <label>Department</label>
        <input type="text" name="department" value="{{ hod.department if hod else '' }}" required>

        <label>Bio / Description</label>
        <textarea name="bio" rows="5" required>{{ hod.bio if hod else '' }}</textarea>

        <label>Photo</label>
        <input type="file" name="photo">

        {% if hod %}
        <img src="{{ url_for('static', filename=hod.photo) }}" class="admin-preview-img">
        {% endif %}

        {% if hod %}
        <label>
            <input type="checkbox" name="active" {% if hod.active %}checked{% endif %}>
            Visible on website
        </label>
        {% endif %}

        <button class="btn save-btn">Save Profile</button>
    </form>

</div>
{% endblock %}
